* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", monospace;
}

/*=============== Font chá»¯ =====================*/
/* .mot{
          font-family: "Montserrat";
          font-size: 50px;
      }
      .hai{
          font-family: "Questrial";
          font-size: 50px;
      } */
body {
  font-weight: 400;
}
div {
  display: block;
}
body,
html {
  background-color: #ffffff;
  color: #000000;
}
body,
button,
input,
p,
select,
textarea {
  font-family: var(--typeBasePrimary), var(--typeBaseFallback);
  font-weight: var(--typeBaseWeight);
  letter-spacing: var(--typeBaseSpacing);
  line-height: var(--typeBaseLineHeight);
  font-size: var(--typeBaseSize);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
}
input,
select,
textarea {
  border: 1px solid;
  border-color: #e8e8e1;
  border-color: #e8e8e1;
  max-width: 100%;
  padding: 8px 10px;
  border-radius: 0;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
ol,
ul {
  margin: 0 0 20px 40px;
  padding: 0;
}
.page-contain {
  position: relative;
}
.header-main {
  background-color: white;
  color: #080808 !important;
}
.page-contain .site-nav {
  position: relative;
  width: 100%;
  /* background-image: linear-gradient(rgb(180, 179, 179), rgba(255, 255, 255, 0)); */
  background-image: linear-gradient(white, white);
  color: #080808;
}
/* .page-contain .site-nav:hover,
      .page-contain .site-nav:hover .header-main {
        background-image: linear-gradient(white, white);
        color: #080808;
      } */
/* .page-contain .site-nav:hover .header-main .name-shop a {
        color: #db0303;
      } */
.header-main .name-shop a {
  color: #db0303 !important;
}
.header-sale {
  background-color: #000000;
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 1.5px;
  padding: 0.45rem 0rem;
}
.header-sale a {
  text-decoration: none;
  color: #f3f3f3;
}
.header-main {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  text-align: center;
  align-items: center;
  width: 95%;
  padding: 0 45px;
  margin: 0 auto;
  color: #ffffff;
  /* background-image: linear-gradient(rgb(255, 255, 255),rgb(201, 198, 198)); */
}
.header-main .menu > input {
  display: none;
}
.header-main label {
  cursor: pointer;
}

/* =====================side menu ================= */

.menu_input:checked ~ .menu-side-bar {
  transform: translateX(0);
}
.menu-side-bar {
  /* height: 100vh; */
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  background-color: #ffffff;
  transform: translateX(-100%);
  transition: all linear 0.4s;
}
.draw-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
  padding-left: 25px;
  padding-right: 25px;
}
.menu-search {
  height: 40px;
  width: 260px;
  font-size: 24px;
}
.search-form {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-radius: 0;
}
.search_input_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.search_input_wrap input {
  width: 100%;
  border: none;
  background-color: #f0f0f0;
  padding: 0 10px;
}
.search-clear {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  color: black;
  font-size: 10px;
}
.draw-title-close {
  color: black;
}

/* ==========================man menu============ */
.moblie-gender_nav {
  color: black;
  display: flex;
  border-top: 1px solid#000;
  margin-bottom: 20px;
  list-style: none;
  text-align: left;
  margin-left: 0;
}
.mobile-gender__item.active {
  background-color: #fff;
  border-bottom: none;
  border-top: none;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-family: var(--typeHeaderPrimary), var(--typeBaseFallback);
  font-weight: 600;
}
.mobile-gender__item {
  background-color: #f2f2f2;
  flex-basis: 100%;
  padding: 10px 20px;
  margin-bottom: 0;
  list-style: none;
  font-size: var(--typeBaseSize);
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #000;
  border-left: none;
  border-top: none;
  transition: 0.3s all ease;
  margin: 0 !important;
}
.drawer__scrollable {
  color: black;
  padding-left: 25px;
  padding-right: 25px;
  overflow: scroll;
  /* position: absolute;
        top: 0; */
  height: 100vh;
  padding-bottom: 150px;
}
.accountmenu__container {
  margin: 5px auto;
  width: 100%;
}
.accountmenu__heading {
  font-size: 14px;
  text-align: left;
  padding: 0;
  margin: 0;
  font-family: var(--typeBasePrimary), var(--typeBaseFallback);
  font-weight: var(--typeBaseWeight);
  letter-spacing: var(--typeBaseSpacing);
  line-height: var(--typeBaseLineHeight);
  font-size: var(--typeBaseSize);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
.accountmenu__buttons {
  display: flex;
  margin: 15px 0 25px 0;
  justify-content: space-around;
}
.accountmenu {
  border-radius: 2px;
  width: 45%;
  border: 1px solid black;
  cursor: pointer;
  font-family: var(--typeBasePrimary), var(--typeBaseFallback);
  font-weight: var(--typeBaseWeight);
  letter-spacing: var(--typeBaseSpacing);
  line-height: var(--typeBaseLineHeight);
  font-size: var(--typeBaseSize);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
  padding-block: 1px;
  padding-inline: 6px;
  background-color: #ffffff;
}
.accountmenu:hover {
  background-color: black;
  color: white;
}
hr {
  height: 1px;
  border: 0;
  background-color: #e8e8e1;
}
.mobile-nav {
  list-style: none;
  margin: 0px -20px 0 -20px;
  text-align: left;
  /* The browser emphasizes legibility over rendering speed and geometric precision. This enables kerning and optional ligatures. */
  text-rendering: optimizeLegibility;
}
.mobile-nav li {
  margin-bottom: 0;
  list-style: none;
}
.mobile-nav__item {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  font-family: var(--typeBasePrimary), var(--typeBaseFallback);
  letter-spacing: var(--typeBaseSpacing);
  line-height: var(--typeBaseLineHeight);
  font-size: var(--typeBaseSize);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
.mobile-nav__item a {
  /* width: ; */
  display: block;
  padding: 10px 15px;
  list-style: none;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.mobile-nav__has-sublist {
  position: relative;
  display: table;
  width: 100%;
}
.mobile-nav__link--button {
  width: 100%;
  text-align: left;
  padding: 0;
  cursor: pointer;
  background-color: white;
  border: none;
  display: inline-block;
  overflow: visible;
  /* font */
  font-family: var(--typeBasePrimary), var(--typeBaseFallback);
  font-weight: var(--typeBaseWeight);
  letter-spacing: var(--typeBaseSpacing);
  line-height: var(--typeBaseLineHeight);
  font-size: var(--typeBaseSize);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
}
.mobile-nav__faux-link {
  padding: 10px 15px;
  display: block;
}
.mobile-nav__toggle {
  display: table-cell;
  vertical-align: middle;
  width: 1%;
}
.collapsible-trigger__icon {
  right: 20px;
  display: block;
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
}
.collapsible-trigger__icon .icon {
  display: block;
  width: 12px;
  height: 12px;
  transition: all 0.2s ease-in;
}

/* menu drop down */
.mobile-nav__sublist {
  display: none;
  margin-bottom: -20px;
}
.showMenu {
  display: block;
}
.mobile-nav__sublist2 {
}
.mobile-additional__menu {
  margin-left: -5px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: -5px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  unicode-bidi: isolate;
}
.mobile-additional__item {
  font-size: var(--typeBaseSize);
  list-style: none;
  padding: 5px 15px 5px 0;
  margin-bottom: 0.25em;
}
.mobile-nav__item {
  color: black;
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  text-align: left;
}

/* ================headermain======================= */
.header-main .name-shop {
  letter-spacing: 7.5px;
  padding-left: 5rem;
}
.header-main .name-shop a {
  color: #ffffff;
  text-decoration: none;
}
.header-funtion {
  display: flex;
  align-items: center;
}
.site-nav__link {
  margin: 0 auto;
}
.site-nav__link ion-icon {
  cursor: pointer;
}

/* ========================================Main content=======================*/
.text-right {
  text-align: right !important;
}
.page-width {
  max-width: 100%;
  padding: 60px 160px;
  margin: 0 auto;
}
.medium-up--one-third {
  position: relative;
  padding: 0 30%;
}
.section-header {
  margin-top: 28px;
  margin-bottom: 48px;
  text-align: center;
  /* width: 33.33333%; */
}
.section-header__title {
  font-size: var(--typeHeaderSize);
}

.rte a {
  color: rgb(255, 0, 0);
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.rte a::after {
  display: block;
  content: "";
  border-bottom: solid 3px #ff0202;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
}
.rte a:hover::after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}
.profile-completion {
  min-height: 25px;
  margin-top: 0.25rem;
  padding: 10px;
  font-size: calc(var(--typeBaseSize) * 0.88);
  font-family: var(--typeBasePrimary), var(--typeBaseFallback);
  display: block;
}
.welcome-strip {
  background-color: #000000;
  color: #ffffff;
}
form {
  margin: 0;
}
.cart__item {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 150px 1fr;
  margin-bottom: 24px;
}
.cart__item--headers {
  font-size: 0.85em;
  border-bottom: 1px solid #e8e8e1;
  padding-bottom: 32px;
  margin-bottom: 32px;
  /* height or width of rows gird */
  grid-template-rows: 1fr;
}
.cart__item--details {
  display: grid;
  grid-column: 2;
  grid-template-columns: 2fr 96px 1fr;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: var(--typeHeaderWeight);
}
.cart__item--qty,
.cart__item--price {
  font-size: 1.3em;
}
.cart__item--image {
  width: 150px;
  height: 100%;
}
.image-wrap {
}
.image-wrap img {
  object-fit: cover;
  width: 100%;
}
.cart__product-name {
  margin-bottom: 0;
  font-size: calc(var(--typeBaseSize) - 2px);
  text-decoration: none;
  display: block;
  font-weight: 400;
  color: #000000;
  letter-spacing: var(--typeBaseSpacing);
  line-height: var(--typeBaseLineHeight);
}
.cart__variant-meta {
  font-style: oblique;
  font-size: calc(var(--typeBaseSize) - 3px);
  margin-bottom: 10px;
  font-weight: 400;
  letter-spacing: var(--typeBaseSpacing);
  line-height: var(--typeBaseLineHeight);
  color: #000000;
}
.cart__item--qty {
  grid-column: 2;
}
.js-qty__wrapper {
  position: relative;
  max-width: 80px;
  min-width: 60px;
  overflow: visible;
  background-color: #ffffff;
  color: #000000;
}
.js-qty__num {
  display: block;
  background: none;
  text-align: center;
  width: 100%;
  padding: 5px 20px;
  margin: 0;
  z-index: 1;
}
.js-qty__adjust {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  border: none;
  background: none;
  text-align: center;
  overflow: hidden;
  padding: 0 10px;
  line-height: 1;
  transition: all 0.1s ease-out;
  z-index: 2;
}
.js-qty__adjust--minus {
  left: 0;
}
.js-qty__adjust--plus {
  right: 0;
}
.cart--remove {
  text-decoration: none;
  position: relative;
  font-size: 0.7rem;
  cursor: pointer;
  text-decoration: underline;
  text-underline-position: under;
}
.cart__footer {
  padding-top: 48px;
  border-top: 1px solid #e8e8e1;
}
.gird {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -30px;
}
.grid__item {
  position: relative;
  padding-left: 30px;
  min-height: 1px;
}
.medium-up--text-right {
  text-align: right !important;
}
.medium-up--push-one-half {
  left: 50%;
}
.medium-up--one-half {
  width: 50%;
}
.cart__item-sub {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  line-height: 1;
}
.cart__item-row {
  margin-bottom: 24px;
}
.cart__subtotal {
  margin-right: 10px;
  text-transform: uppercase;
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
  font-weight: var(--typeHeaderWeight);
  letter-spacing: 0.2em;
  line-height: var(--typeHeaderLineHeight);
}
.csapp_discount_total_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
}
.csapp-price-wrapper {
  margin: 0 0 10px;
}
.cart_total {
  text-decoration: line-through;
}
.csapps-cart-total {
  font-size: 16px !important;
}
.csapp-price-saving {
  width: unset;
  margin: 0 0 8px 0;
  font-size: 14px;
}
.csapp-price-saving b {
  padding-right: 5px;
  font-weight: var(--typeHeaderWeight);
}
.csapp-discount-list {
  max-width: 100%;
  width: unset;
  margin: 0;
  display: table;
  vertical-align: middle;
}
.discount-label-conatiner {
  font-size: 16px;
  display: flex;
  align-items: center;
}
.csapp-discount-list .discount {
  padding: 5px 5px 5px 0;
  display: table-cell;
}
.discount {
  flex: 1 !important;
}
.dis-name {
  display: flex;
}
.dis-svg {
  display: flex;
  align-items: center;
}
.dis-text {
  padding-left: 5px;
  font-weight: normal;
  line-height: 1.4;
  max-width: 200px;
  font-size: 13px;
  letter-spacing: 0;
  text-transform: none;
}
.csapp_money {
  padding: 5px 5px 5px 20px;
  clip-path: polygon(0% 50%, 25% 100%, 100% 100%, 100% 0%, 25% 0%);
  background-color: #ddd;
}
.csapp_money span {
  margin-left: 5px;
  font-size: 13px !important;
  font-weight: 500;
}
.cart__checkout-wrapper {
  margin-top: 24px;
}
small {
  display: block;
}
.small {
  font-size: 0.7rem;
}
.checkout-reminders {
  border: 1px solid #000000;
  margin: 20px 0;
  padding: 0.5rem 1rem;
}
.text-left {
  text-align: left !important;
}
.cart__checkout {
  width: 100%;
}
.btn--no-animate {
  background-image: none;
  transition: opacity 1s;
}
.btn {
  display: inline-block;
  padding: 11px 20px;
  margin: 0;
  min-width: 80px;
  line-height: 1.42;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  cursor: pointer;
  border: none;
  background-color: #f01737;
  color: #ffffff;
  font-weight: var(--typeHeaderWeight);
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
}
.margin-top-5 {
  margin-top: 5px;
}

/* responsive */
.grid {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -30px;
}
.bottom-nav-container {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  backdrop-filter: blur(5px);
  padding: 8px 0;
  z-index: 6;
}
.bottom-nav-inner {
  display: flex;
  margin-left: 0;
}
.site-nav__link--icon ion-icon {
  width: 25px;
  height: 25px;
}
.bottom-nav-container a {
  color: #ffffff;
  text-decoration: none;
}
.bottom-nav-container .bottom-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.one-quarter {
  width: 25%;
}
@media screen and (max-width: 768px) {
  /* .site-nav {
      padding: 0 10px;
    } */
  .page-width {
    padding: 60px 5%;
  }

  .header-main {
    justify-content: center;
  }
  .name-shop {
    margin: 0;
    padding-left: 0 !important;
  }
  .header-sale,
  .header-funtion,
  .icon-menu {
    display: none;
  }
  .bottom-nav-container {
    display: block;
  }
  .menu-side-bar {
    width: 300px;
  }
  .menu-search {
    margin-right: 8px;
  }

  .gird {
    padding-bottom: 32px;
  }
}
:root {
  --typeHeaderPrimary: Montserrat;
  --typeHeaderFallback: sans-serif;
  --typeHeaderSize: 35px;
  --typeHeaderWeight: 700;
  --typeHeaderLineHeight: 1.2;
  --typeHeaderSpacing: 0em;
  --typeBasePrimary: Questrial;
  --typeBaseFallback: sans-serif;
  --typeBaseSize: 14px;
  --typeBaseWeight: 400;
  --typeBaseLineHeight: 1.6;
  --typeBaseSpacing: 0.025em;
  --iconWeight: 3px;
  --iconLinecaps: miter;
}
