* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", monospace;
}

/*=============== Font chá»¯ =====================*/
/* .mot{
      font-family: "Montserrat";
      font-size: 50px;
  }
  .hai{
      font-family: "Questrial";
      font-size: 50px;
  } */
body {
  font-weight: 400;
}
div {
  display: block;
}
body,
html {
  background-color: #ffffff;
  color: #000000;
}
body,
button,
input,
p,
select,
textarea {
  font-family: var(--typeBasePrimary), var(--typeBaseFallback);
  font-weight: var(--typeBaseWeight);
  letter-spacing: var(--typeBaseSpacing);
  line-height: var(--typeBaseLineHeight);
  font-size: var(--typeBaseSize);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
}
input,
select,
textarea {
  border: 1px solid;
  border-color: #e8e8e1;
  border-color: #e8e8e1;
  max-width: 100%;
  padding: 8px 10px;
  border-radius: 0;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
ol,
ul {
  margin: 0 0 20px 40px;
  padding: 0;
}
.page-contain {
  position: relative;
}
.header-main {
  background-color: white;
  color: #080808 !important;
}
.page-contain .site-nav {
  position: relative;
  width: 100%;
  /* background-image: linear-gradient(rgb(180, 179, 179), rgba(255, 255, 255, 0)); */
  background-image: linear-gradient(white, white);
  color: #080808;
}
/* .page-contain .site-nav:hover,
  .page-contain .site-nav:hover .header-main {
    background-image: linear-gradient(white, white);
    color: #080808;
  } */
/* .page-contain .site-nav:hover .header-main .name-shop a {
    color: #db0303;
  } */
.header-main .name-shop a {
  color: #db0303 !important;
}
.header-sale {
  background-color: #000000;
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 1.5px;
  padding: 0.45rem 0rem;
}
.header-sale a {
  text-decoration: none;
  color: #f3f3f3;
}
.header-main {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  text-align: center;
  align-items: center;
  width: 95%;
  padding: 0 45px;
  margin: 0 auto;
  color: #ffffff;
  /* background-image: linear-gradient(rgb(255, 255, 255),rgb(201, 198, 198)); */
}
.header-main .menu > input {
  display: none;
}
.header-main label {
  cursor: pointer;
}

/* =====================side menu ================= */

.menu_input:checked ~ .menu-side-bar {
  transform: translateX(0);
}
.menu-side-bar {
  /* height: 100vh; */
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  background-color: #ffffff;
  transform: translateX(-100%);
  transition: all linear 0.4s;
}
.draw-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
  padding-left: 25px;
  padding-right: 25px;
}
.menu-search {
  height: 40px;
  width: 260px;
  font-size: 24px;
}
.search-form {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-radius: 0;
}
.search_input_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.search_input_wrap input {
  width: 100%;
  border: none;
  background-color: #f0f0f0;
  padding: 0 10px;
}
.search-clear {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  color: black;
  font-size: 10px;
}
.draw-title-close {
  color: black;
}

/* ==========================man menu============ */
.moblie-gender_nav {
  color: black;
  display: flex;
  border-top: 1px solid#000;
  margin-bottom: 20px;
  list-style: none;
  text-align: left;
  margin-left: 0;
}
.mobile-gender__item.active {
  background-color: #fff;
  border-bottom: none;
  border-top: none;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-family: var(--typeHeaderPrimary), var(--typeBaseFallback);
  font-weight: 600;
}
.mobile-gender__item {
  background-color: #f2f2f2;
  flex-basis: 100%;
  padding: 10px 20px;
  margin-bottom: 0;
  list-style: none;
  font-size: var(--typeBaseSize);
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #000;
  border-left: none;
  border-top: none;
  transition: 0.3s all ease;
  margin: 0 !important;
}
.drawer__scrollable {
  color: black;
  padding-left: 25px;
  padding-right: 25px;
  overflow: scroll;
  /* position: absolute;
    top: 0; */
  height: 100vh;
  padding-bottom: 150px;
}
.accountmenu__container {
  margin: 5px auto;
  width: 100%;
}
.accountmenu__heading {
  font-size: 14px;
  text-align: left;
  padding: 0;
  margin: 0;
  font-family: var(--typeBasePrimary), var(--typeBaseFallback);
  font-weight: var(--typeBaseWeight);
  letter-spacing: var(--typeBaseSpacing);
  line-height: var(--typeBaseLineHeight);
  font-size: var(--typeBaseSize);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
.accountmenu__buttons {
  display: flex;
  margin: 15px 0 25px 0;
  justify-content: space-around;
}
.accountmenu {
  border-radius: 2px;
  width: 45%;
  border: 1px solid black;
  cursor: pointer;
  font-family: var(--typeBasePrimary), var(--typeBaseFallback);
  font-weight: var(--typeBaseWeight);
  letter-spacing: var(--typeBaseSpacing);
  line-height: var(--typeBaseLineHeight);
  font-size: var(--typeBaseSize);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
  padding-block: 1px;
  padding-inline: 6px;
  background-color: #ffffff;
}
.accountmenu:hover {
  background-color: black;
  color: white;
}
hr {
  height: 1px;
  border: 0;
  background-color: #e8e8e1;
}
.mobile-nav {
  list-style: none;
  margin: 0px -20px 0 -20px;
  text-align: left;
  /* The browser emphasizes legibility over rendering speed and geometric precision. This enables kerning and optional ligatures. */
  text-rendering: optimizeLegibility;
}
.mobile-nav li {
  margin-bottom: 0;
  list-style: none;
}
.mobile-nav__item {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  font-family: var(--typeBasePrimary), var(--typeBaseFallback);
  letter-spacing: var(--typeBaseSpacing);
  line-height: var(--typeBaseLineHeight);
  font-size: var(--typeBaseSize);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
.mobile-nav__item a {
  /* width: ; */
  display: block;
  padding: 10px 15px;
  list-style: none;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.mobile-nav__has-sublist {
  position: relative;
  display: table;
  width: 100%;
}
.mobile-nav__link--button {
  width: 100%;
  text-align: left;
  padding: 0;
  cursor: pointer;
  background-color: white;
  border: none;
  display: inline-block;
  overflow: visible;
  /* font */
  font-family: var(--typeBasePrimary), var(--typeBaseFallback);
  font-weight: var(--typeBaseWeight);
  letter-spacing: var(--typeBaseSpacing);
  line-height: var(--typeBaseLineHeight);
  font-size: var(--typeBaseSize);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
}
.mobile-nav__faux-link {
  padding: 10px 15px;
  display: block;
}
.mobile-nav__toggle {
  display: table-cell;
  vertical-align: middle;
  width: 1%;
}
.collapsible-trigger__icon {
  right: 20px;
  display: block;
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
}
.collapsible-trigger__icon .icon {
  display: block;
  width: 12px;
  height: 12px;
  transition: all 0.2s ease-in;
}

/* menu drop down */
.mobile-nav__sublist {
  display: none;
  margin-bottom: -20px;
}
.showMenu {
  display: block;
}
.mobile-nav__sublist2 {
}
.mobile-additional__menu {
  margin-left: -5px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: -5px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  unicode-bidi: isolate;
}
.mobile-additional__item {
  font-size: var(--typeBaseSize);
  list-style: none;
  padding: 5px 15px 5px 0;
  margin-bottom: 0.25em;
}
.mobile-nav__item {
  color: black;
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  text-align: left;
}

/* ================headermain======================= */
.header-main .name-shop {
  letter-spacing: 7.5px;
  padding-left: 5rem;
}
.header-main .name-shop a {
  color: #ffffff;
  text-decoration: none;
}
.header-funtion {
  display: flex;
  align-items: center;
}
.site-nav__link {
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.site-nav__link ion-icon {
  cursor: pointer;
}
/*========================== maincontent========================= */
.main-content {
  display: block;
  position: relative;
}
.page-width {
  max-width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  padding: 0 45px;
  /* padding-right: 5rem; */
}
.breadcrumb {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 40px;
}
.breadcrumb a {
  text-decoration: none;
  color: black;
}
.section-header {
  margin-bottom: 40px;
}
.section-header__title {
  text-align: center;
  font-size: 40px;
}
.collection-filter {
  margin-bottom: 20px;
  height: 48px;
}
/* .grid--uniform{
  clear: both;
} */
.gird {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -30px;
}
.grid__item {
  float: left;
  padding-left: 55px;
  width: 100%;
  min-height: 1px;
}
.medium-up--one-half {
  width: 50%;
}

.text-right {
  padding-right: 30px;
  display: flex;
  justify-content: right;
}
.collection-filter__item--drawer {
  display: flex;
  align-items: center;
  padding: 0 20px;
  border: 1px solid #e8e8e1;
  height: 48px;
  font-size: var(--typeBaseSize);
}
.collection-filter__item--drawer box-icon {
  margin-right: 10px;
}
.collection-filter select {
  height: 48px;
  font-size: 16px;
  font-family: var(--typeBasePrimary), var(--typeBaseFallback);
  font-weight: var(--typeBaseWeight);
  display: inline-block;
  width: 100%;
  max-width: 320px;
}

.grid--uniform {
  clear: both;
}
.medium-up--one-quarter {
  width: 25%;
}
.grid-product__content {
  margin-bottom: 40px;
  position: relative;
  text-align: left;
}
.grid-product__link {
  display: block;
  text-decoration: none;
  color: black;
}
.wishlist-btn.style_1 {
  font-size: 16px;
  padding: 0;
  line-height: 1;
  letter-spacing: 0.05em;
  margin: 0px;
}
.wishlist-btn{
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 999;
  /* background: #fff; */
  border-radius: 100%;
  padding: 5px;
  display: flex !important;
}
.wishlist-btn:hover{
  color: #db0303;
}
.grid-product__image-mask {
  overflow: hidden;
  position: relative;
}
.image-wrap {
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.image-wrap img {
  width: 100%;
  height: auto;
}
.grid-product__title {
  font-size: 12px;
}
.grid-product__content:hover .image-wrap img {
  transition: all 0.4s;
  transform: scale(2);
}
.grid-product__meta {
  position: relative;
  padding: 10px 0 6px 0;
}
.grid-product__price {
  font-size: 18px;
}
.grid-product__content:hover .quick-product__btn {
  opacity: 1;
}
.grid-product__content:hover .grid-product__title {
  opacity: 0;
}
.quick-product__btn {
  height: 4rem;
  width: 100%;
  position: absolute;
  top: unset;
  bottom: 0;
  right: 0;
  border-radius: 0;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  overflow: hidden;
  line-height: 1.2;
  cursor: pointer;
  opacity: 0;
  transform: translateY(5px);
  transition: opacity 1s ease, transform 1 ease-out;
}
:root {
  --typeHeaderPrimary: Montserrat;
  --typeHeaderFallback: sans-serif;
  --typeHeaderSize: 35px;
  --typeHeaderWeight: 700;
  --typeHeaderLineHeight: 1.2;
  --typeHeaderSpacing: 0em;
  --typeBasePrimary: Questrial;
  --typeBaseFallback: sans-serif;
  --typeBaseSize: 14px;
  --typeBaseWeight: 400;
  --typeBaseLineHeight: 1.6;
  --typeBaseSpacing: 0.025em;
  --iconWeight: 3px;
  --iconLinecaps: miter;
}
